$primary: #57429A;
$secondary: #7F48D1;
$text-primary: #1C1C1C;
$text-secondary: #6E6E6E;
$text-forth: "#141B2E";
$border-light: #E6E6E6;
$gray-light: #D9D9D9;
$danger: #FF5C5C;
$gray: "#F6F8FA";
$text-third: "#545C64";
$divider: #F0E5FF;
$completed: "#81E55D";
$reading: "#F27D35";
$to-read: "#3586F1";
$gray-medium: "#79859D";
$gray-border-ligth: "#D5D9E3";
$button-hover: "#512593";
$select-hover: "#EEF0F4";
$hover-arrow: "#EBEFF1"