@use './colors.scss';
@use './definitions.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary: theme('colors.primary');
        --secondary: theme('colors.secondary');
        --text-primary: theme('colors.textPrimary');
        --text-secondary: theme('colors.textSecondary');
        --text-third: theme('colors.textThird');
        --text-forth: theme('colors.textForth');
        --gray-light: theme('colors.grayLight');
        --gray-medium: theme('colors.grayMedium');
        --gray-border-light: theme('colors.grayBorderLight');
        --gray: theme('colors.gray');
        --divider: theme('colors.divider');
        --danger: theme('colors.danger');
        --completed: theme('colors.completed');
        --reading: theme('colors.reading');
        --to-read: theme('colors.toRead');
        --button-hover: theme('colors.buttonHover');
        --select-hover: theme('colors.selectHover');
        --hover-arrow: theme('colors.hoverArrow');
        --toast-success: theme('colors.toastSuccess');
        --toast-text: theme('colors.toastText');
        --black: theme('colors.black');
        --dark-black: theme('colors.darkBlack');
        --dark-scroll: theme('colors.darkScroll');
        --trash: theme('colors.trash');
    }
  :root[data-theme='dark'] {
    --primary: #111827;
    --text-primary: #f9fafb;
    --button-hover: #1f2937;
    --toast-success: #064e3b;
    --toast-text: #ecfeff;
  }

  @layer utilities {
    .text-primary-var {
      color: var(--primary);
    }
    .bg-primary-var {
      background-color: var(--text-primary);
    }
    .hover-bg-button {
      &:hover {
        background-color: var(--button-hover);
      }
    }
  }
}